body
  --link: var(--color-purple)

main p
  word-break: break-all

// Serie colors
code
  &[data-serie='2']
    @extend .color-red
  &[data-serie='1']
    @extend .color-green

// Time colors
td
  &[data-value='briefing']
    @extend .color-green
  &[data-value='bill']
    @extend .color-orange
  &[data-value='trash']
    @extend .color-muted

// No practice
main p code:not([data-serie])
  opacity: .3
