// LAYOUT
figure
  height: 332px
  text-align: center
  img
    filter: invert(10%)
.flex
  justify-content: space-evenly

// PRACTICES
// ---------
.calendar
  // Serie colors
  div[data-property='2']
    @extend .accent-red
  div[data-property='1']
    @extend .accent-green

th:first-child
  min-width: 2.6em

// TIME
// -----------
td
  &[data-value='briefing']
    @extend .color-green
  &[data-value='bill']
    @extend .color-orange
  &[data-value='trash']
    @extend .color-muted
